@layout('layouts/app')
    @section('content')
        I am Profile
        {{ auth.user.email }}
        <form action="/verify-email" method="post">
             <input type="submit" value="Resend">
        </form>
    @endsection