@layout('layouts/app')
    @section('content')
        <h2>Welcome In AdonisJS</h2>
        @if(auth.isAuthenticated)
            <h1>{{ auth.user.name }}</h1>
            <form action="/logout" method="post">
            <button type="submit">Sign Out</button>
            </form>
        @else
            <br>
            <a href="/login">Login</a>
        @endif   
    @endsection